@model IEnumerable<learn.Models.Messages>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>Details</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Messages" asp-route-id="@item.Id">Details</a>
                </td>
                <td>
                    <a asp-action="SoftDeleteMessage" asp-controller="Messages" asp-route-id="@item.Id">Delete or Restore message</a>
                </td>
                <td>
                    <a asp-action="HardDeleteMessage" asp-controller="Messages" asp-route-id="@item.Id">Fully delete message</a>
                </td>
            </tr>
        }
    </tbody>
</table>