@model IEnumerable<learn.Models.Messages>

@{
    ViewData["Title"] = "ListMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListMessages</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>Details</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
            <td>
                <a asp-action="SoftDeleteMessage" asp-route-id="@item.Id">Delete or Restore message</a>
            </td>
            <td>
                <a asp-action="HardDeleteMessage" asp-route-id="@item.Id">Fully delete message</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Home" asp-action="Index">Back to the Main Page></a>
</div>